-const pages = ['inicio', 'sobre mi', 'habilidades', 'portafolio', 'experiencia', 'educación', 'contacto']
-const pagesLink = ['start', 'about', 'skills', 'portfolio', 'experience', 'education', 'contact']

-const skills = ['html', 'css', 'javascript', 'jquery', 'bootstrap', 'java', 'sql', 'intellij idea']

-const skillsValue = ['80', '75', '65', '50', '50', '55', '70', '85']

-const projects1 = ['cukys.png', 'project-1.jpg', 'project-2.jpg']
-const projects2 = ['graphic-design-1.jpg', 'graphic-design-2.jpg', 'graphic-design-3.jpg', 'graphic-design-4.jpg']
