.portfolio {
  margin-top: 60px;
  width: calc(100% - 40px);
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  justify-self: center;
  align-self: center;

  &__title, &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    margin: 1rem 1rem;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: $text-color2;
    color: $background-color3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__icon-checked {
    background-color: $background-color;
    color: $text-color2;
  }

  &__img1, &__img2 {
    margin: 1rem 0;
    border-radius: 5px;

    -webkit-box-shadow: 0 0 30px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 30px -10px rgba(0,0,0,0.75);
    box-shadow: 0 0 30px -10px rgba(0,0,0,0.75);
    
    & img {
      width: 100%;
    }
  }
  &__img-hidden {
    display: none;
  }
}

@include laptop {
  .portfolio {

    &__img {
      column-count: 2;
      width: 100%;
    }

    &__img1, &__img2 {
      margin: 0 0 1rem;
    }
  }
}
