extends ../templates/template

block header
    include ../includes/header

block header-nav
    include ../includes/header-nav

block header-profile
    include ../includes/header-profile

block header-social
    include ../includes/header-social

block main-about
    include ../includes/main-about

block main-skills
    include ../includes/main-skills

block main-portfolio
    include ../includes/main-portfolio

block main-experience
    include ../includes/main-experience

block main-education
    include ../includes/main-education

block main-contact
    include ../includes/main-contact

block footer
    include ../includes/footer
