.footer
    .footer__social
        a(href="https://www.linkedin.com/in/josemariamq/" target="_blank").footer__link
            i.fab.fa-linkedin-in.social__icon.fa-lg
        a(href="https://github.com/JoseMariaMQ" target="_blank").footer__link
            i.fab.fa-github.social__icon.fa-lg
        a(href="https://twitter.com/JoseMariaMQ" target="_blank").footer__link
            i.fab.fa-twitter.social__icon.fa-lg
    .footer__name
        h1 José María Muñoz Quijada
    .footer__info
        p © JoseMariaMQ CV. All rights reserved.
        p Design - JoseMariaMQ
