.profile
    img(src="assets/img/josemariamq.png" alt="profile photo").profile__photo
    h1.profile__title José María MQ
    p.profile__subtitle WEB DEVELOPER, SOFTWARE DEVELOPER
    a(href="#" target="_blank").profile__bottom Contratame
    a(href="#" target="_blank").profile__bottom Download CV
