.social
    a(href="https://www.linkedin.com/in/josemariamq/" target="_blank").social__link
        i.fab.fa-linkedin-in.social__icon
    a(href="https://github.com/JoseMariaMQ" target="_blank").social__link
        i.fab.fa-github.social__icon
    a(href="https://twitter.com/JoseMariaMQ" target="_blank").social__link
        i.fab.fa-twitter.social__icon
