section#experience.experience
    h1.experience__title Experiencia
    .experience__description
        .experience__description1
            p.experiencie__date MAYO 2011 - JUNIO 2019
            h2.experiencie__company ÁTIKO MULTIMEDIA
        .experience__description2
            h3.experience__job Técnico Informático
            p.experience__job-description Instalación de los equipos informáticos y mantenimiento, para la inserción de datos en la base de datos y la creación de acreditaciones de acceso al evento de la Feria Nacional del Vino (FENAVIN) en sus distintas ediciones 2011, 2013, 2015, 2016, 2017 y 2019.
    .experience__description
        .experience__description1
            p.experiencie__date AGOSTO 2020 - SEPTIEMBRE 2020
            h2.experiencie__company INFORMÁTICA COSTA DEL SOL SL
        .experience__description2
            h3.experience__job Técnico Informático
            p.experience__job-description Maquetación y preparación de los equipos informáticos, preparándolos para su posterior configuración y actualización remotamente.

