section#portfolio.portfolio
    h1.portfolio__title Portafolio
    .portfolio__icons
        #portfolio-icon1.portfolio__icon
            i.fas.fa-laptop-code
        #portfolio-icon2.portfolio__icon
            i.fas.fa-code
    .portfolio__img
        each project1 in projects1
            .portfolio__img1
                img(src="assets/img/" + project1)
        each project2 in projects2
            .portfolio__img2
                img(src="assets/img/" + project2)
