section#education.education
    h1.education__title Educación
    .education__description
        .education__description1
            p.education__date 2019 - 2021
            h2.education__degree Técnico Superior FPII
        .education__description2
            h3.education__title-degree Técnico Superior en Desarrollo de Aplicaciones Multiplataforma
            h5.education__center-degree CESUR CENTRO OFICIAL DE FORMACIÓN PROFESIONAL, MÁLAGA, ESPAÑA
            p.education__degree-description En este Ciclo Formativo de Grado Superior de Desarrollo de Aplicaciones Multiplataforma, se estudia como configurar y explorar sistemas informáticos, gestionar bases de datos, desarrollar aplicaciones multiplataforma e interfaces gráficos, crear aplicaciones multiproceso y multihilo, e implantar y mantener sistemas ERP-CRM, creando opciones laborales como desarrollador de aplicaciones informáticas para la gestión empresarial y de negocio, desarrollador de aplicaciones, especialista den ERP-CRM, gestor de la información, experto en Big Data, desarrollador de componentes personalizados, etc.
    .education__description
        .education__description1
            p.education__date 2009 - 2011
            h2.education__degree Técnico Superior FPII
        .education__description2
            h3.education__title-degree Técnico Superior en Sistemas de Telecomunicaciones e Informáticos
            h5.education__center-degree COLEGIO SALESIANO HERMANO GÁRATE, CIUDAD REAL, ESPAÑA
            p.education__degree-description En este Ciclo Formativo de Grado Superior de Sistemas de Telecomunicaciones e Informáticos aprendí a configurar, implantar y mantener sistemas de telefonía, de radio y televisión, sistemas informáticos tanto monousuario como multiusuario, sistemas telemáticos, organizar, gestionar y controlar la ejecución y mantenimiento de los sistemas de telecomunicaciones e informáticos, etc.
    .education__description
        .education__description1
            p.education__date ABRIL 2018 - MAYO 2018
            h2.education__degree Otros Cursos Educación Adicional
        .education__description2
            h3.education__title-degree Curso de Programación SAP ABAP IV
            h5.education__center-degree TECNILÓGICA ECOSISTEMAS SAU, MÁLAGA, ESPAÑA
            p.education__degree-description Beca de Programación SAP ABAP IV, impartida por la empresa Accenture en Málaga.

