section#portfolio.portfolio
    h1.portfolio__title Portafolio
    .portfolio__icons
        #portfolio-icon1.portfolio__icon
            i.fas.fa-laptop-code
    #portfolio-img.portfolio__img
        each project1 in projects1
            .portfolio__img1
                a(href="" + projects1URL[projects1.indexOf(project1)] target="_blank")
                    img(src="assets/img/" + project1)

