section#skills.skills
    h1.skills__title Habilidades
    #skills-items.skills__items
        each skill, index in skills
            .skills__item
                i(class=skillsIcon[index])
                span= skill
