section#contact.contact
    #contact-container.contact__container
        h1.contact__title Contáctame
        .contact__form
            form
                label No dudes en contactarme
                .contact__inner-addon
                    i.fas.fa-user-circle
                    input(type="text" name="name" placeholder="Nombre" required="required")
                .contact__inner-addon
                    i.fas.fa-file-alt
                    input(type="text" name="subject" placeholder="Asunto" required="required")
                .contact__inner-addon
                    i.fas.fa-envelope
                    input(type="email" name="email" placeholder="E-mail" required="required")
                textarea(name="message" placeholder="Tu mensaje" rows="3" required="required" ).contact__message
                button(type="submit").contact__submit Enviar
        .contact__items
            p Dirección
            p Málaga, España
            p Teléfono
            p 650648446
            p Email
            p josemaria.munoz89@gmail.com

