section#about.about
    .about__description
        h1.about__title Sobre mí
        p.about__text Hola! Soy José María. Desarrollador Web y de Software, además de Técnico de Sistemas de Telecomunicaciones e Informáticos.
        p.about__text Persona con capacidad de adaptación, organizada y anticipativa. Me gusta estar en continuo crecimiento, aprender cosas nuevas y poder evolucionar tanto profesionalmente como personalmente. Como hobby me apasiona el deporte, y llevar una vida saludable.
    .about__info
        h1.about__title Información Básica
        h3.about__subtitle EMAIL:
        p.about__text josemaria.munoz89@gmail.com
        h3.about__subtitle TELÉFONO:
        p.about__text 650648446
        h3.about__subtitle DIRECCIÓN:
        p.about__text Málaga, España
